/**
  *	@name Nacho
  *	@author snacks#1739
  *	@version 1.0
  *	@description Highly customized and customizable theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://dsc.bio/devevil
  * @source https://github.com/DevEvil99/Ocean-Discord-Theme
  * @website https://devevil.xyz
  * @invite jsQ9UP7kCA
*/



@import url('https://github.com/Nachiiitos1/amogos/edit/main/Ocean.theme.css');

:root {
  --ocean-bg: url(https://cdn.discordapp.com/attachments/760504396466880522/915884622372536341/maxresdefault.jpg);
  --ocean-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/874999698426068992/ocean-home-icon.png);
  --ocean-color1: #00d5ce;
  --ocean-color2: #0a173a;
  --ocean-color3: #1487b1;
}

